/* hax hax hax hax hax errybody! */

body {
  margin: 0;
  padding: 1em 0.6em;
  background: #000;
  font-size: 1.6em;
  line-height: 155%;
  color: #FFF;
  font-family: "Proxima Nova", Helvetica, sans-serif;
}

#main {
  max-width: 480px;
  min-width: 400px;
}

#error {
  text-align: center;
}

#error .hacktopus {
  width: 100%;
  max-width: 500px;
}

h1 {
  display: inline;
  padding: 0 0.1em;
  background: #F2543D;
  font-weight: 800;
}

/*// specifically just the page title...*/
h1 > a {
  color: white;
}

h1 > a:hover {
  background: none;
  color: #ddd;
}

h1 > a:focus {
  background: none;
  color: #ddd;
}

p, ul {
  font-weight: 300;
}

a {
  padding: 0.1em 0.2em;
  color: #84C2FF;
  text-decoration: none;
}

a:hover {
  background: #84C2FF;
  color: #FFF;
}

a:focus {
  background: #84C2FF;
  color: #FFF;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li { 
    padding-left: 16px; 
}

li:before {
    content: "*";
    padding-right: 8px;
}

footer {
  display: none;
}
