<h1>One of Hacks members’ favorite pastimes is trying to describe what Hacks is. Here are some that we think are memorable:</h1>
<ul>
    <li>Hacks is a place where cool people build cool stuff because it's cool</li>
    <li>Tech tastemakers</li>
    <li>We sit around and watch train videos</li>
    <li>Social club for nerds</li>
    <li>Hacks is like being swaddled inside of a maternity sweater while another person is also in that sweater. It’s warm and snuggly and of course you both fit</li>
    <li>You know, we sit around, hack the pentagon, usually with our ally, the hacker known as 4chan.</li>
</ul>

<h3>If you want to add your own description come to a hacks meeting or email
<a href="mailto:aronoff.j@husky.neu.edu">aronoff.j@husky.neu.edu</a>
</h3>
