// Text
$hacks-h1: 3em;
$hacks-h2: 2em;
$hacks-text: 1.5em;
$hacks-text-spacing: 2em;
$hacks-small-caps-size: 2.2em;
$hacks-small-caps-weight: 600;
$hacks-hamburger-size: 8em;
$hacks-mobile-menu-text: em(72px);

$hacks-border: 5px dotted rgba(white, 0.5);
$hacks-three-dee: 3px 3px
    rgba(
      $color: red,
      $alpha: 0.4,
    ),
  -3px -3px
    rgba(
      $color: cyan,
      $alpha: 0.4,
    );
$hacks-title-three-dee: 2px 0px
    rgba(
      $color: red,
      $alpha: 0.4,
    ),
  -2px 0px rgba(
      $color: cyan,
      $alpha: 0.4,
    );

// Sizes
$hacks-page-width: 981px;
$hacks-logo-size: 18em;
$hacks-speech-size: 10em;

// Colors
$hacks-nav-active-color: #f9ada0;
$hacks-nav-inactive-color: #c5e0da;
$hacks-text-color: #d2dad3;
$hacks-dark-text-color: #52414c;
$hacks-background-color: #1b263b;
$hacks-a: #465775;
$hacks-a-hover: #4e2c3d;
$hacks-a-active: #a13d63;
