// Text
$hacks-h1: 48px;
$hacks-h2: 36px;
$hacks-text: 24px;
$hacks-text-spacing: 2em;
$hacks-small-caps-weight: 600;

$hacks-border: 5px dotted rgba(white, 0.5);

// Sizes
$hacks-page-width: 981px;
$hacks-logo-size: 18em;
$hacks-speech-size: 10em;

// Colors
$hacks-nav-active-color: #f9ada0;
$hacks-nav-inactive-color: #c5e0da;
$hacks-text-color: #d2dad3;
$hacks-dark-text-color: #52414c;
$hacks-background-color: #1b263b;
