<div class="container">
  <h1><%= @user.name %></h1>

  <p><i class="icon-envelope"></i> <%= email_link(@user) %></p>
  <p><i class="icon-twitter"></i> <%= twitter_link(@user) %></p>
  <p><i class="icon-github-alt"></i> <%= github_link(@user) %></p>
</div>