<div class="hero-unit">
  <h1>NU Hacks</h1>
  <p>We spit code like hot fire</p>

  <br>

  <div id="twitter-button" class="offset4">
    <a href="https://twitter.com/nuhacks" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @nuhacks</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

</div>


<!-- the 411 -->

<div class="row">

  <div class="span4">
    <h3>Who are you guys?</h3>
    <p>We're a bunch of tech-minded
    students who meet up to share and work on cool
    projects. Come hangout and hack the night away
    with others interested in tech and entrepreneurship.
    Meet other technical students over some snacks
    and share your own projects to get feedback and
    support from other hackers.</p>
  </div>


  <div class="span4">
    <h3>What should I bring?</h3>
    <p>Bring a laptop and something cool to work on.
    If you don't have a project, be willing to help others.</p>
  </div>


  <div class="span4">
    <h3>Our Next Event</h3>
    <% if @next_event %>
      <h4><%= @next_event.name %></h4>

      <b>When?</b>
      <p>
        <i class="icon-time"></i>
        <%= @next_event.when %>
      </p>

      <b>Where?</b>
      <p>
        <i class="icon-flag"></i>
        <%= @next_event.location %>
      </p>
    <% else %>
      <p>Nothing's planned right now. <br>
      Check back later!</p>
      <p>Have an idea for a cool event?
      <a href="http://twitter.com/nuhacks">Tweet us!</a></p>
    <% end %>
  </div>

</div>
