<div class="hero-unit">
  <h1>NU Hacks</h1>
  <p>We spit code like hot fire</p>

  <a href="https://twitter.com/nuhacks" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @nuhacks</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>


<!-- the 411 -->

<div class="row">

  <div class="span4">
    <h2>Who are you guys?</h2>
    <p>We're NU Hacks! We're a bunch of tech-minded
    students who meet up to share and work on cool
    projects.</p>
  </div>


  <div class="span4">
    <h2>Do I have to be 1337?</h2>
    <p>No, but it helps!</p>
  </div>


  <div class="span4">
    <h2>Our Next Event</h2>
    <h3>When?</h3>
    <p>
        <i class="icon-time"></i> Thursday, March 1 from 7pm to 11pm.
    </p>
    <h3>Where?</h3> 
    <p>
        <i class="icon-flag"></i> International Village 019
    </p>
  </div>

</div>
