---
---
@import "normalize";
@import "github-corner";

@mixin respond-to($media) {
    @if $media == handhelds {
        @media only screen and (max-width: $break-small) { @content; }
    }
    @else if $media == medium-screens {
        @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
    }
    @else if $media == wide-screens {
        @media only screen and (min-width: $break-large) { @content; }
    }
}

// Global items: h1 - h6, p, a, etc.

@for $i from 1 through 6 {
    h#{$i} {
        font-family: $header-font-family;
        color: $font-color;
    }
}

p, a, ul, li{
    color: $font-color;
}

svg {
    fill: $font-color;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
        padding-left: 1em;
        text-indent: -1em;
    }

    li:before {
        content: ">";
        padding-right: 5px;
    }
}

#quick-jump {
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    text-decoration: underline;
    @include respond-to(handhelds) { display: none; }
    @include respond-to(medium-screens) { display: none; }
}

.background-segment{
    background: radial-gradient(ellipse at center, #1B2735 0%, #090A0F 100%);
    min-height: 100vh;
}


.full-page {
    @extend .background-segment;
    display: flex; 

}

.single-page {
    @extend .background-segment;
    margin: 0;
    padding: 20px;
}


.align-bottom {
    margin-top: auto;
    cursor: pointer;
}

.down-arrow {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    animation: pulse 4s infinite ease-in-out alternate;

    margin-bottom: 10px;

    @keyframes pulse {
        30% { opacity: 1; }
        100% { opacity: 0; }
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#introduction {
    @extend .full-page;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 20px;

    @include respond-to(handhelds) {
        h1 {
            font-size: $h3-font-size;
            line-height: 1.5rem;
        }
    }
    @include respond-to(medium-screens) {
        h1 {
            font-size: $h3-font-size;
            line-height: 1.5rem;
        }
    }
}

#information {
    @extend .full-page;

    @include respond-to(handhelds) {
        .row {
            flex-direction: column;
        }

        .down-arrow {
            display: none;
        }

        height: 100%;
    }
    @include respond-to(medium-screens) {
        height: 100%;

        .down-arrow {
            display: none;
        }

        .row {
            flex-direction: column;
        }
    }

    @include respond-to(wide-screens) {
        .long-blurb {
            width: 40vw;
        }

        #mentors {
            width: 25vw;
        }
    }
    #social-icons {
        padding: 8px;
        
        a { text-decoration: none; }

        svg {
            width: $social-icon-size;
            height: $social-icon-size;
            padding: 0 4px;
        }
    }
}

#announcements {
    @extend .full-page;


    @include respond-to(handhelds) {
        .row {
            flex-direction: column;
        }
        height: 100%;
    }
    @include respond-to(medium-screens) {
        .row {
            flex-direction: column;
        }
        height: 100%;
    }
    @include respond-to(wide-screens) {
        main {
            min-width: 20vw;
            max-width: 40vw;
        }
        aside {
            width: 25vw;
            text-align: right;
        }
        .container {
            margin-bottom: 30vh;
            justify-content: center;
            .row {
                justify-content: center;
            }
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    @include respond-to(handhelds) {
        padding: $section-padding/4 $section-padding/4 0 $section-padding/4;
    }
    @include respond-to(medium-screens) {
        padding: $section-padding/2 $section-padding/2 0 $section-padding/2;
    }
    @include respond-to(wide-screens) {
        padding: $section-padding $section-padding 0 $section-padding;
    }
    width:100%;
}

#hacktopus {
    @include respond-to(handhelds) { width: 50vw; }
    @include respond-to(medium-screens) { width: 60vw; }
    @include respond-to(wide-screens) { width: 30vw; }
    height: auto;
    margin-top: 50px;
}

.single-page img#hacktopus {

    @include respond-to(handhelds) {
        width: 30vw;
        margin-left: auto;
        margin-right: auto;
        display:block;
    }
    @include respond-to(medium-screens){
        width: 100px;
    }
    @include respond-to(wide-screens){
        width: 100px;
    }

    height: auto;
    margin-top: 0;

}

.link {
    text-decoration: underline;
    cursor: pointer;
}