---
---
// vim: ai:ts=4:sw=4:et
@import "normalize";
@import "github-corner";

@mixin respond-to($media) {
    @if $media == handhelds {
        @media only screen and (max-width: $break-small) { @content; }
    }
    @else if $media == medium-screens {
        @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
    }
    @else if $media == wide-screens {
        @media only screen and (min-width: $break-large) { @content; }
    }
}

// Global items: h1 - h6, p, a, etc.

@for $i from 1 through 6 {
    h#{$i} {
        font-family: $header-font-family;
        color: $font-color;
    }
}

h1 {
    @include respond-to(handhelds) { font-size: 16pt; }
    @include respond-to(medium-screens) { font-size: 16pt; }
    @include respond-to(wide-screens) { font-size: 24pt; }
}

p, a, ul, li{
    color: $font-color;
}

svg {
    fill: $font-color;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
        padding-left: 1em;
        text-indent: -1em;
    }

    li:before {
        content: ">";
        padding-right: 5px;
    }
}


.full-page {
    height: 100vh;
    display: flex;
}

#introduction {
    @extend .full-page;
    background: radial-gradient(ellipse at top, #1B2735 0%, #090A0F 100%);
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.align-bottom {
    margin-top: auto;
}

.down-arrow {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    animation: pulse 4s infinite ease-in-out alternate;

    margin-bottom: 10px;

    @keyframes pulse {
        30% { opacity: 1; }
        100% { opacity: 0; }
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#information {
    @extend .full-page;
    background: radial-gradient(ellipse at center, #1B2735 0%, #090A0F 100%);


    #mentors {
        width: 25vw;
    }
}

#announcements {
    @extend .full-page;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

.container {
    display: flex;
    flex-direction: column;
    padding: 32px 32px 0 32px;
    width:100%;
    .long-blurb {
        width: 50vw;
    }
}

#social-icons {
    a { text-decoration: none; }

    svg {
        width: $social-icon-size;
        height: $social-icon-size;
        padding: 0 4px;
    }
}

#hacktopus {
    @include respond-to(handhelds) { width: 50vw; }
    @include respond-to(medium-screens) { width: 60vw; }
    @include respond-to(wide-screens) { width: 30vw; }
    height: auto;
    margin-top: 50px;
}
