<h1>makers. breakers. rump shakers.</h1>

<p>we meet up every Thursday from 8pm to 12am in 016 <a href="http://goo.gl/maps/vz3g2" target="_blank">International Village</a> to hang out, talk about tech, and work on projects</p>

<p>if you like making, breaking, hacking, building, designing, technology, security, art, and/or general awesomeness, you should hang with us</p>