<div class="sidebar">
  <div class="events">

    <header>Upcoming Events</header>

    <% @events[0..4].each do |event| %>
      <div class="event">
        <div class="title">
          <h1><%= event.name %></h1>
          <p><%= event.datetime.strftime("%A, %b %d at %l%p") %></p>
        </div>
        <div class="body"><%= event.description %></div>
      </div>
    <% end %>

  </div>
</div>

<div class="container">
  <nav></nav>

  <%= logo %>

  <h1><i class="icon-cog"></i> makers <i class="icon-ambulance"></i> breakers <i class="icon-heart"></i> rump shakers</h1>

  <p>we meet up every Thursday from 8pm to 12am in 016 <a href="http://goo.gl/maps/vz3g2" target="_blank">International Village</a> to hang out, talk about tech, and work on projects</p>

  <p>if you like making, breaking, hacking, building, designing, technology, security, art, and/or general awesomeness, you should hang with us</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>