/*
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

html, body {
  font-family: monospace;
  margin: 0;
  background-color: #090909;
  color: #eee;
}

h1 { font-size: 42px; }
h2 { font-size: 38px; }
h3 { font-size: 26px; }
h4 { font-size: 20px; }
p { font-size: 16px; }

a {
  color: #fdffcb;
  text-decoration: none;
  border-bottom: 1px solid #fdffcb;
}

.logo {
  color: #f2543d;
}

/*
Site Layout

Container gets 560px + 15 + 25 (padding) + 5*2 (border) = 610px
Sidebar gets 240px 15*2 (padding) + 10 (margin-right) = 280px
Wrapper therefor must be 890px

When the sidebar is not there, the Container will use all the space.

*/

.wrapper {
  margin: 0 auto;
  width: 890px;
}

// Must be used in each view that wants this.
// SHOULD BE USED WITH .container as a sibling
.sidebar {
  width: 240px;
  float: left;
  padding: 0 15px;
  margin-right: 10px;
}

// Must be used in each view that wants this.
.container {
  overflow: hidden;
  padding: 0 15px 15px 25px;
  min-width: 560px;
  margin: 0 auto;
  border-bottom: 5px solid #595959;
  border-top: none;
  box-shadow: inset 0 -1px 1px 0 #111, 0 3px 10px #000;
  background-color: #272822;
}

// Sitewide flashes
.flashes {
  position: absolute;
  left: 0;
  right: 0;

  .flash {
    padding: 5px;
    p {
      text-align: center;
      margin: 0;
    }
  }

  .flash.notice {
    color: #514721;
    background-color: #ffff00;
  }

  .flash.alert {
    color: #ffeeee;
    background-color: #ff0000;
  }
}