/*
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

/*
Site Styles
*/

html, body {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin: 0;
  background-color: #e6e6e6;
  color: #f8f8f2;
}

h1 { font-size: 38px; }
h2 { font-size: 32px; }
h3 { font-size: 26px; }
h4 { font-size: 20px; }
p {
  margin-bottom: 5px;
  color: #73715d;
  line-height: 1.4em;
  font-size: 14px;
}

a {
  color: #fdffcb;
  text-decoration: none;
  border-bottom: 1px solid #fdffcb;
}

.logo {
  color: #f2543d;
}

/*
Site Layout

Container gets 560px + 15 + 25 (padding) + 5*2 (border) = 610px
Sidebar gets 240px 15*2 (padding) + 10 (margin-right) = 280px
Wrapper therefor must be 890px

When the sidebar is not there, the Container will use all the space.

*/

.wrapper {
  margin: 0 auto;
  width: 890px;
}

.frame {
  border-bottom: 5px solid #595959;
  border-top: none;
  box-shadow: inset 0 -1px 1px 0 #111, 0 3px 10px #222;
  background-color: #272822;
}

// Must be used in each view that wants this.
.container {
  position: relative;
  margin: 0 auto;
  @extend .frame;

  .nav {
    padding: 10px;
    margin: 0;
    background-color: #171814;
    border-bottom: 1px solid #3c3d39;
    box-shadow: inset 0 -1px 1px 0 #000;

    a {
      border-bottom: 0;
    }

    ul {
      display: inline-block;
      padding: 0;
      margin: 0;
    }

    li {
      margin-right: 10px;
      display: inline-block;
    }
  }

  .body {
    padding: 0 20px 15px;
  }

}

// Sitewide flashes
.flashes {
  position: absolute;
  top: 35px; // hard coded height of nav.
  left: 0;
  right: 0;

  .flash {
    padding: 5px;
    p {
      text-align: center;
      margin: 0;
    }
  }

  .flash.notice {
    color: #514721;
    background-color: #ffff00;
  }

  .flash.alert {
    color: #ffeeee;
    background-color: #ff0000;
  }
}