.events {
  margin-top: 20px;

  h1 {
    font-size: 24px;
    font-weight: bold;
  }

  .event {
    margin-right: 10px;
    float: left;
    max-width: 250px;
    min-height: 150px;
    height: 150px;
    padding: 20px;
    overflow: hidden;
    color: #f8f8f2;

    .title h1 {
      margin: 0;
      font-size: 24px;
    }

    .title span {
      display: block;
      margin: 5px 0;
      font-size: 14px;
      font-weight: thin;
    }

    .body p {
      margin: 0;
    }
  }
}